[core]
	excludesfile = ~/.gitignore_global
	pager = delta
	editor = vim
[include]
	path = ~/.gitconfig.local
	path = ~/.config/delta/themes.gitconfig
[credential]
	helper = cache
[push]
	default = simple
	autoSetupRemote = true
[color]
	ui = true
[interactive]
	diffFilter = delta --color-only
[delta]
	features = arctic-fox
	navigate = true
	line-numbers = true
	side-by-side = false
[init]
	defaultBranch = main
[pull]
	rebase = true
[rebase]
	autoStash = true
[fetch]
	prune = true
[merge]
	conflictstyle = zdiff3
[commit]
	verbose = true
[alias]
	lg = log --graph --oneline --decorate --all
	co = checkout
	st = status
	last = log -1 HEAD
	pr = "!gh pr create --fill"
	prv = "!gh pr view --web"
